@{
    ViewData["Title"] = "Home Page";
}

<div>
   <p>Это первая сраничка</p>
</div>

@section footer{
    <div>
        <p>Обязательная секция!</p>
    </div>
}

@section section1{
    <div>
        <p>
            Это не обязательная секция.
        </p>
    </div>
}
@section dateTime{
    <div id="date"></div>
}
