@{
    ViewData["Title"] = "Third page";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Это третья страничка</p>

@section footer{
    <div>
        <p>Обязательная секция!</p>
    </div>
}
